
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-decoration: none;
}

/*=============VARIABLES CSS ============*/
:root {
  /* COLOURS */
  --color-bg: rgb(139,10,80);
  --color-deepPink: rgb(139,10,80);
  --color-white: #fff;
  --color-light: rgb(245, 238, 238);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--color-white);
  overflow-x: hidden;
  padding-left: 125px;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

#light  {
  background-color: var(--color-bg);
  color: var(--color-white);
}

#dark{
  background-color: rgb(47, 10, 31);
  color: var(--color-bg);

}

h5,
h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}

#light>section>h5,
#light>section>h2  {
  color:rgb(37, 25, 31);
}

#dark>section>h5,
#dark>section>h2  {
  color:rgb(217, 198, 207);
}


/* ============== MEDIA QUERIES ==============   */

@media screen and (max-width: 300px) {
  section{
    padding: 0;
  }
}